name: Spread

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "!**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  define-matrix:
    name: Define spread matrix
    runs-on: ubuntu-24.04
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install spread
        run: |
          sudo snap install spread

      - name: Generate matrix list
        id: suites
        run: |
          list="$(spread -list github-ci | sed "s|github-ci:ubuntu-24.04:tests/||g" | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT

  spread-test:
    name: Spread (${{ matrix.suite }})
    runs-on: ubuntu-24.04
    needs:
      - define-matrix
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-matrix.outputs.suites) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          uv venv
          uv pip install -e ".[dev]"

      - name: Install spread
        run: |
          sudo snap install spread

      - name: Run integration tests
        run: |
          spread -v "github-ci:ubuntu-24.04:tests/${{ matrix.suite }}"